body{
    font-family: Quicksand, 游ゴシック体, YuGothic, 'ヒラギノ角ゴシック Pro',メイリオ, Meiryo,'ＭＳ Ｐゴシック', sans-serif;
}

.honbun {
    margin-top: 30px;
    margin-bottom: 12px;
}
.label{
    vertical-align: top;
    margin-right: 5px;
}
.toukou{
    border-top: 1px solid;
    margin: 120px auto;
    max-width: 975px;
}
.situmon {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 23pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 20px 20px;   /* 余白       */
  background    : #000066;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
  border        : 2px solid #000066;    /* 枠の指定 */
}
.situmon:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #000066;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}



.logo{
    background-color:#eeff00;
    color:#000000;
    text-align:center;
    width: 100%;
    height: 50px;
    border-top        : 5px solid #006611;
    border-bottom        : 5px solid #006611;
}

.taitoru{
    text-align    : center;
    width: 100%;
    height: 100%;

}

.loginid{
    display       : inline-block;
    font-size     : 20pt;
    color         : #000000;
    border-bottom: solid 3px #87CEFA;
}

nav {
    background-color: #6666ff;
    width: 584px;
}

input.situmon{
    position: fixed;
    right: 0px;
    top: 0px;
}

.error{
    color: red;
}

ul{
    list-style: none;
}

.post{
    margin: 0;
    padding: 0;
}


a {
    display: block;
    width: 100%;
    height: 80%;
    /*padding: 20px 0;*/
    border-radius: 6px;
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 200% auto;
    transition: all 300ms 0s ease;
    background-image: linear-gradient(
      to right,
      #5bec63 0%,
      #03e00e 50%,
      #D4ECDD 50%,
      #D4ECDD 100%
    );
    box-shadow: 0 3px 10px rgb(0 0 0 / 16%);
    transition: background-position ease 0.4s;
    text-align: center;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
  }

h {
        /*background-color: #2ddf68;*/
        background-image: url(./chick\ sprout.png);
        background-repeat: repeat;
        background-position: 0px 50px;
        width: 100%;
        height: 112px;
        clear: both;
        position: fixed;
        margin: 0;
        z-index: 1;
        top: 0;
        left: 0;
        border-bottom        : 5px solid #006611;
        animation: bgiLoop 10s linear infinite;
  }
  @keyframes bgiLoop {
    0% { background-position: 0 0;}
  100% { background-position: -100px 200px;}
}

  #hea {
    position:fixed;
  }
  
  a:hover {
    width: 100%;
    background-position: 0 0;
  }

  .Contributor {
         text-align: right;
    }
    